<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" width="250px" height="250px" alt="Yash" class="img-fluid" title="Yash Vadhadiya">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <h2>
                            I'm a <span class="text_color">Web Developer</span> and <span class="text_color">Cloud Enthusiast</span>.
                        </h2>
                        <a href="https://yashvadhadiya.github.io/YashPortfolio/" target="_blank"><button>Visit Portfolio</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- footer -->
{{>footer}}
</body>

</html>